.active > a{
    background: #1779ba;
    color: #fefefe;
}

.left-nav {
    height: 100%;
    min-height: calc(100vh);
    border-right: 1px solid #efefef; 
}
.custom-top-bar{
    background: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.content{
    background: #f7f7f7;

}


.code-bash{
    border: 0;
    background: #333;
    color: white;
    border-radius: 4px;
    position: relative;
    padding-top: 2rem;
}

.code-outlate code{
    display: block;
    overflow-x: auto;
    padding: 1rem;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
}
/* .left-nav .menu a {
    color: black;
}


.left-nav .accordion-menu  .submenu-toggle-icon {
    color: black;
} */
.welcome-header{
    padding: 2rem;
    background-color: #1779ba;
    color: white;
    align-items: center;
}
.content-padding{
    padding: 2rem;
}

.padding-top{
    padding-top: 2rem;
}
.training-callout{
    border-left: 3px solid #1779ba;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.17)
}

.searchInput  input{
    width: 100%;
}

.searchInput i{
    position: absolute;
    top: 10px;
    right:12px;
    color: gray;
}


.usage {
    padding: 30px;
    height: 100%;
    min-height: calc(100vh);
}
.usage-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    padding: 0 0 0 3px;
    margin-bottom: 20px;
}

.content-header {
    font-size: 1.714em;
    font-weight: 400;
    padding: 4px 6px; 
   
}

.content-header .fa {
    font-size: 1.7em;
    vertical-align: middle;
}

.content-header  i {
    margin-right: 15px;
}

/* css for getting start*/

.main-header{
    text-align: center;
    font-weight: 200;
}

.page-content{
    margin: 4rem 0;
}

.subheader{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background: #f9f9f9;
}

.row .display{
    background: #eee;
    margin-bottom: 10px;
    line-height: 2rem;
    border: solid 1px #c6c6c6;
    margin-right: 0 !important
}